<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/category.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title><%= categoryName %> Reseptit</title>
    <link rel="icon" type="image/png" href="/kuvat/reseptiguru-logo.ico" />
  </head>
  <body>
    <div class="kohta2">
      <header>
        <h1><%= categoryName %> Reseptit</h1>
      </header>
      <div class="oikea">
        <form action="/logout" method="GET">
          <button type="submit" class="tyyli2">Kirjaudu ulos</button>
        </form>
      </div>
      <ul>
        <% meals.forEach(function(meal) { if(meal) { %>
        <li>
          <h2>
            <a href="/reseptisivu/<%= meal.idMeal %>"><%= meal.strMeal %></a>
          </h2>
          <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>" />
        </li>
        <% }}); %>
      </ul>
      <a href="/index">Takaisin etusivulle</a>
      <footer></footer>
    </div>
  </body>
</html>
