<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/category.css" />
    <link rel="stylesheet" href="responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <%- include('osasivupohjat/fontit') %>

    <title><%= categoryName %> Reseptit</title>
    <link rel="icon" type="image/png" href="/kuvat/reseptiguru-logo.ico" />
  </head>
  <body>
    <div class="kokonainenkategoria">
      <header>
        <h1><%= categoryName %> Reseptit</h1>
      </header>
      <div class="napitkategoria">
        <a href="/index" class="nappi1kategoria">Takaisin etusivulle</a>
        <form action="/logout" method="GET">
          <button type="submit" class="nappi1kategoria">Kirjaudu ulos</button>
        </form>
      </div>
      <ul>
        <% if (meals && Array.isArray(meals)) { %> <%
        meals.forEach(function(meal) { if(meal) { %>
        <li>
          <h2>
            <a href="/reseptisivu/<%= meal.idMeal %>"><%= meal.strMeal %></a>
          </h2>
          <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>" />
        </li>
        <% }}); %> <% } else { %>
        <li>Ei löytynyt reseptejä tähän kategoriaan.</li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
