<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/kuvat/reseptiguru-logo.ico" />
    <title>Reseptisivusto</title>
  </head>
  <body>
    <header>
      <h1>Kategoriat</h1>
    </header>
    <div class="keskelle">
      <form action="/search" method="get" class="search-form">
        <input type="text" name="q" placeholder="Hae reseptiä..." required />
        <button type="submit">Hae</button>
      </form>
      <div class="keskelle2">
        <form action="/logout" method="GET">
          <button type="submit" class="tyyli">Kirjaudu ulos</button>
        </form>
      </div>
    </div>
    <div class="kohta">
      <ul>
        <% if (categories && categories.length > 0) { %> <%
        categories.forEach(function(category) { %>
        <li>
          <h2><%= category.strCategory %></h2>
          <img
            src="<%= category.strCategoryThumb %>"
            alt="<%= category.strCategory %>"
          />
          <a href="/category/<%= category.strCategory %>"
            >Näytä <%= category.strCategory %> reseptit</a
          >
        </li>
        <% }); %> <% } else { %>
        <p>Ei löytynyt kategorioita.</p>
        <% } %>
      </ul>
      <footer></footer>
    </div>
  </body>
</html>
