<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="profile.css" />
    <link rel="stylesheet" href="responsive.css" />
    <title>Profiili sivu</title>
  </head>
  <header>
    <h1>Profiili</h1>
  </header>
  <nav>
    <a href="/index" class="button">Takaisin etusivulle</a>
    <a href="/logout" class="button">Kirjaudu ulos</a>
  </nav>
  <body>
    <div class="sisalto">
    <div class="arvostelu">
      <h3>Profiilin Arvostelut:</h3>
      <% if (reviews.length === 0) { %>
      <p>Sinulla ei ole vielä arvosteluja.</p>
      <% } else { %>
      <ul>
        <% reviews.forEach(function(review) { %>
        <div class="review">
          <h3><%= review.recipe_name %></h3>
          <img
            src="<%= review.recipe_thumb %>"
            alt="Recipe Image"
            style="width: 300px"
          />
          <p><%= review.comment %></p>
          <p><%= '⭐'.repeat(review.rating) %></p>
          <p><strong>Julkaisuaika:</strong> <%= review.created %></p>
        </div>
        <% }); %>
      </ul>
      <% } %>
    </div>
    <div class="suosikkiresepti">
      <h3>Suosikkireseptisi:</h3>
      <% if (favorites.length === 0) { %>
        <p>Ei suosikkireseptejä vielä.</p>
      <% } else { %>
        <% favorites.forEach(function(fav) { %>
          <div class="review">
            <h3><%= fav.recipe_name %></h3>
            <img src="<%= fav.recipe_thumb %>" alt="Favorite Recipe Image" style="width: 300px" />
            <p><%= fav.comment %></p>
            <p><%= '⭐'.repeat(fav.rating) %></p>
            <p><strong>Julkaisuaika:</strong> <%= fav.created %></p>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>
</div>
  </body>
</html>
